<%- include('../partials/header.ejs')%>
   <main>
      
       
    <h2> Welcome to Samp Army Cricket Franchise</h2>

    <form method = 'POST' action = "/connections/<%= connection._id%>?_method=PUT">
        <label for="topic">Topic:</label>
        <input type="text" id="topic" name="topic" value="<%= connection.topic%>" class = "fixed-width" required><br>
        <br>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= connection.title%>" class = "fixed-width" required><br>
        <br>
        <label for="content">Content:</label>
        <input textarea rows="5" id="content" name="content" value="<%= connection.content%>" class = "fixed-width" required><br>
        <br>
        <label for="where">Where:</label>
        <input type="text" id="where" name="where" value="<%= connection.where%>" class = "fixed-width" required><br>
        <br>
        <label for="when">When:</label>
        <input type="date" id="when" name="when" value="<%= connection.when%>" class = "fixed-width" required><br>
        <br>
        <label for="start">Start</label>
        <input type="time" id="start" name="start" value="<%= connection.start%>" class = "fixed-width" required><br>
        <br>
        <label for="end">End</label>
        <input type="time" id="end" name="end" value="<%= connection.end%>" class = "fixed-width" required><br>
        <br>
        <label for="imageURL">Image URL:</label>
        <input type="url" id="imageURL" name="imageURL" value="<%= connection.imageURL%>" class = "fixed-width" required><br>
        <br>

        <button>Edit Connection</button>
    </form>



    </main>
    <%- include('../partials/footer.ejs')%>

